<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<h2>Login</h2>
<form name="f" th:action="@{/login}" method="post">
    <div th:if="${param.error}">Invalid username and password</div>
    <div th:if="${param.logout}">You have been logged out</div>
    <label for="username">Username</label>
    <input type="text" id="username" name="username"/>
    <br/>
    <label for="password">Password</label>
    <input type="password" id="password" name="password"/>
    <br/>
    <button type="submit" class="btn">Log in</button>
</form>
<h2>Logout</h2>
<form name="f" th:action="@{/logout}" method="post">
    <button type="submit" class="btn">Log out</button>
</form>
</body>
</html>