<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

    <script type="text/javascript"
            src="webjars/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript"
            src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="main.js"></script>
</head>
<body>

<h2>Your Heroes</h2>
<ul class="list-group" th:unless="${#lists.isEmpty(heroes)}">
    <li class="list-group-item" th:each="hero : ${heroes}">
        <span class="badge" th:text="${hero.rating}">1</span>
        <span th:text="${hero.name}"></span>
    </li>
</ul>

<h2>Add hero</h2>
<div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Hero name</span>
    <input id="hero-name" type="text" class="form-control" aria-describedby="basic-addon1"/>
</div>
<button type="button" class="btn btn-default" onclick="createHero()">Add new</button>

</body>
</html>